<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <label class="h4 bg-light mx-5 my-4 px-4">フォロー一覧</label>
        <% if @users.exists? %>
          <%= render "public/users/index", users: @users %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
    </div>
  </div>
</div>