<div class="container">
  <div class="row">
    <div class="col-10 mt-2 mb-2">
      <div class="card">
        <%= image_tag "image0.jpg",class: "card-img" %>
        <div class="card-img-overlay d-flex"  style="top: auto; bottom: 0;">
          <div class="m-auto">
            <p class="text-center" style="background-color: rgba(255, 255, 255, 0.8);">
              <label class="h1">ようこそEach Agingへ</label><br>
              Each Agingでは、革製品やデニムなど経年変化を楽しめる愛用品を投稿できます。<br>
              また、ケア方法や使用年数など参考になる情報も盛り沢山です。<br>
              是非、皆さんの経年変化を見せて下さい！
              <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
              <%= link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-sm btn-block " %>
              <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-sm btn-block " %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>