<div class="container">
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <label class="h4 bg-light px-4">会員一覧</label>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <%= render "admin/users/admin_index", users: @users %>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-5"></div>
    <div class="col-lg-7">
      <%= paginate @users %>
    </div>
  </div>
</div>

