<div class="container">
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <label class="h4 bg-light px-4">会員一覧</label>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table table shadow-sm">
        <thead class="bg-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_active == true %>
                <p class="text-success">有効</p>
              <% else %>
                <p class="text-muted">退会</p>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-5"></div>
    <div class="col-lg-7">
      <%= paginate @users %>
    </div>
  </div>
</div>

