<div class="container">
  <label class="h4 bg-light mx-5 my-4 px-4">マイページ</label>
  <div class="row mb-2">
    
    <div class="col-lg-3">
      <%= image_tag @user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
          <table class="table">
            <tbody>
              <tr><td><%= @user.account_name %></td></tr>
              <tr><td><%= @user.introduction %></td></tr>
              <tr><td>いいねフォローフォロワー</td></tr>
            </tbody>
          </table>
          <% if @user == current_user %>
            <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block"%>
          <% end %>
        </div>
    
    <div class="col-lg-8 offset-md-1">投稿一覧</div>
    
  </div>
</div>